body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.family-title,
.person,
.pointer {
	cursor: pointer;
	user-select: none;
}

.family .bounding {
	transition: stroke 150ms, stroke-width 150ms;
}
.family:hover .bounding {
	stroke: #185FA5;
	stroke-width: 3px;
	fill: #edf2f0;
}

.person rect {
	transition: stroke 0.15s;
}
.person:hover rect {
	stroke: #185FA5;
}

circle.pointer {
	transition: r 300ms;
}

circle.pointer:hover,
circle.pointer:has(+ line:hover){
	r: 7px;
}

line.pointer {
	pointer-events: none;
}