@import "family";
@import "person";

body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: var(--vscode-editor-font-family, var(--vscode-font-family)) monospace;
}

.family-title,
.person,
.pointer {
	cursor: pointer;
	user-select: none;
}

