.family .bounding {
	transition: stroke 150ms, stroke-width 150ms;
}
.family:hover .bounding {
	stroke: #185FA5;
	stroke-width: 3px;
	fill: #edf2f0;
}

.family.highlight > .family-title-bg {
	fill: #d5d5d5;
}