.family .bounding {
	stroke: var(--vscode-editorGroup-border, var(--vscode-widget-border, var(--vscode-tree-indentGuidesStroke)));
	fill: var(--vscode-editor-foldBackground, var(--vscode-editor-background));

	transition: fill 200ms;
}

.family:hover .bounding {
	stroke-width: 3px;
	fill: var(--vscode-editor-lineHighlightBackground, var(--vscode-editor-background));
}

.family.highlight > .family-title-bg {
	fill: var(--vscode-editor-selectionBackground);
}