.person {
	rect {
		&:not([stroke]) {
			stroke: var(--vscode-widget-border, var(--vscode-editorGroup-border, var(--vscode-tree-indentGuidesStroke)));
		}

		fill: var(--vscode-editor-background);
		transition: stroke 0.15s;
	}

	&:hover rect {
		stroke: var(--vscode-focusBorder);
	}

	&.highlight rect {
		fill: var(--vscode-editor-selectionBackground);
	}
}

line.pointer {
	pointer-events: none;
}

.pointer-label {
	> * {
		opacity: 0;
		transition: opacity 200ms;
	}

	rect {
		fill: var(--vscode-editor-background);
		transition: opacity 200ms, width 200ms;
	}

	&.active > * {
		opacity: 1;
	}
}

.arrow,
.separator > rect
{
	stroke: var(--vscode-tree-indentGuidesStroke, var(--vscode-widget-border, var(--vscode-editorGroup-border)));
}

.separator > rect {
	fill: var(--vscode-editor-background);
}