.person {
	rect {
		stroke: var(--vscode-widget-border, var(--vscode-editorGroup-border, var(--vscode-tree-indentGuidesStroke)));
		fill: var(--vscode-editor-background);
		transition: stroke 0.15s;
	}

	&:hover rect {
		stroke: var(--vscode-focusBorder);
	}

	&.highlight rect {
		fill: var(--vscode-editor-selectionBackground);
	}
}

circle.pointer {
	transition: r 300ms;

	&:hover,
	&:has(+ line:hover) {
		r: 7px;
	}
}

line.pointer {
	pointer-events: none;
}

.arrow,
.separator > circle
{
	stroke: var(--vscode-tree-indentGuidesStroke, var(--vscode-widget-border, var(--vscode-editorGroup-border)));
}

.separator > circle {
	fill: var(--vscode-editor-background);
}